# Node modules
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log*
error.log*
server.log
log/


# Build files
dist/
build/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Dependency directories
jspm_packages/
bower_components/

# Database
*.sqlite
*.sqlite3
*.db
*.db-wal
*.db-shm
dump.rdb

# OS-specific files
.DS_Store
Thumbs.db

# Misc
.nyc_output
coverage/
